*{
	text-align: center;
	margin: 0 auto 0 auto;
}

/* The right shadow floats */
@keyframes shadowFloat{
    0%   {transform:scale(1,1);}
    25%  {transform:scale(.9,.9);}
    50%  {transform:scale(.9,.9);}
    100% {transform:scale(1,1);}
}

/* The right ghost floats */
@keyframes ghostFloat{
     0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    
    visibility: visible;
  }

  25% {
    -webkit-transform: translate(0, -20%);
    transform: translate(0, -20%);
  }

  50% {
    -webkit-transform: translate(0, -20%);
    transform: translate(0, -20%);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    visibility: visible;
  }

}


body {
	background: #F5F5F5;
}


#container{
	width: 960;
}

#image{
    margin-top: 150px;
    width:350px;
}

#leftGhost{
    float: left
}

.floatL{
    display: block;
    clear: both;
    animation-name: ghostFloat;
    animation-duration: 3s;
    animation-iteration-count: infinite;   
}

.ovalL{
    animation-name: shadowFloat;
    animation-duration: 3s;
    animation-iteration-count: infinite;   
}


#rightGhost{
    float: right;
}
.floatR{
    display: block;
    clear: both; 
    animation-name: ghostFloat;
    animation-duration: 3s;
    animation-iteration-count: infinite;  
}
.ovalR{
    /* float: left; */
    animation-name: shadowFloat;
    animation-duration: 3s;
    animation-iteration-count: infinite;  
}

#middleTable{
    float: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

h3.bold{
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    clear: both;
    color: #000000;
    margin-top: 50px;
}

.underline {
    width: 80px;
    height: 2px;
    background: #4A90E2;
    margin: 14px auto;
}

p.body{
	display: block;
    font-family: 'Varela Round', 'Helvetica Neue', Arial, sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    clear: both;
    color: rgba(0,0,0,0.75);
}

.btn {
    border: 1px solid #4A90E2;
    border-radius: 3px;
    background: #ffffff;
    color: #4A90E2;
    font-family: 'Varela Round', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    display: block;
    padding: 15px 50px 15px 50px;
    margin-top: 50px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
body {
	background: black; }
}


/* OUR TEAM */

