main{
    background: #fff !important;
}
#topbar{  
    background-color:rgba(0,28,32,0); 
}
.parallax-container{
    margin-top: -77px;
}
.parallax-content{
    height: 100%;
    background-color: rgba(40, 230, 118  ,0.8);
}
.parallax-content p{
    color: #fff;
    font-weight: 400;
    font-family:'Roboto', 'sans serif' !important;
    font-size: 40px;
    padding: 0px 20px 0px 20px;
}
.undertext{
    font-size: 20px !important;
    font-weight: 300 !important;
}
hr{
    width: 5%;
    border: none;
    background-color: #fff;
    height: 2px;
}

h2{
    font-size: 3.4rem;
    font-family: 'Varela Round','Roboto','sans-serif';
    font-weight: 200;
    opacity: 0.85;
}
.about-us {
    padding: 0px 8%;
    line-height: 130%;
    font-family: 'Roboto','sans-serif';
    font-weight: 300;
}
.divider{
    width:90%;
    background-color:#000;
    opacity: 0.7;
}

.philosophy{
    background-color: #F5F5F5
}
.philosophy img{
    height: 150px;
    width: 150px;
    opacity: 0.8;
}
.philosophy p{
    padding: 0px 10%;
    opacity: 0.8;
    line-height: 130%;
}

.statistics{
    background-color: #FDD835;
    margin-top: -20px;
}
.statistics .row{
    color:#fff;
    
}
.statistics h5{
    font-family: 'Roboto','Varela Round','sans-serif';
    font-size: 4rem;
    padding: 5px;
    font-weight: 600;
}
.statistics p{
    font-size: 2.5rem;
    font-family: 'Roboto','sans-serif';
    font-weight: 400;
}
.plus{
    font-weight: 200;
}
.team{
    background-color: #fff !important;
}
.features{
    background-color: rgb(249, 57, 57);
}
.features h2{
    color:#fff;
}

/* OUR TEAM */

@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip1113 {
  font-family: 'Raleway', 'Arial'e, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 7%;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip1113 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

figure.snip1113 img {
  max-width: 65%;
  margin: 40px auto;
  display: block;
  position: relative;
  border: 3px solid #666666;
  padding: 15px 15px 85px 15px;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

figure.snip1113 figcaption {
  position: absolute;
  height: 120px;
  bottom: 0px;
  left: 0;
  right: 0;
  display: block;
}

figure.snip1113 h3 {
  background-color: #ffffff;
  color: #000000;
  font-size: 1.7em;
  width: 100%;
  padding: 5px 12px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
}

figure.snip1113 h3 span {
  font-weight: 800;
}

figure.snip1113 h4 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: -1px;
  opacity: 0.6;
  font-size: 1.1em;
}

figure.snip1113.bluee img {
  border-color: #2472a4;
}

figure.snip1113.bluee h3,
figure.snip1113.bluee h4 {
  color: #2472a4;
}

figure.snip1113.redd img {
  border-color: #ab3326;
}

figure.snip1113.redd h3,
figure.snip1113.redd h4 {
  color: #ab3326;
}

figure.snip1113.yellow img {
  border-color: #e08e0b;
}

figure.snip1113.yellow h3,
figure.snip1113.yellow h4 {
  color: #e08e0b;
}

figure.snip1113.green img {
  border-color: #229955;
}

figure.snip1113.green h3,
figure.snip1113.green h4 {
  color: #229955;
}

figure.snip1113.orange img {
  border-color: #d67118;
}

figure.snip1113.orange h3,
figure.snip1113.orange h4 {
  color: #d67118;
}

figure.snip1113.navy img {
  border-color: #2b3c4e;
}

figure.snip1113.navy h3,
figure.snip1113.navy h4 {
  color: #2b3c4e;
}

.expertise{
    background-color: #F93939;
}
.expertise h2{
    font-family: 'Varela Round','sans serif';
    font-size: 2.5rem;
    color: #fff;
}
.expertise .collapsible-header{
    height: 100px;
}
.expertise .item{
    padding: 1.6rem;
}
.expertise .item-text{
    color: #fff;
    font-family: 'Roboto','sans-serif';
    font-size: 2rem;
    font-weight: 300;
}
.expertise a:hover{
    opacity: 0.5;
    transition: opacity 0.2s;
}


.page-footer{
    background-color: #001C20;
}
.smalltxt{
    font-size: 12px;
    opacity: 0.8;
}

footer{
    font-family: 'Varela Round','sans serif';
}
footer li {
    font-size: 18px;
}
h5.title{
    font-size: 25px;
    color:#fff;
}

/* Social Icons */

svg {
  display:inline-block;
  height:5vw; max-height:120px;
  width:auto;
  stroke:#fff;
  stroke-width:15;
  fill:none;
  transition: fill ease 0.4s;
}

svg:hover{
    fill:#fff;
}
