.btn{
     font-family: 'Roboto', sans-serif;
     font-size: 1.6rem;  
     color: #fff; 
}  
          
#topbar{     
     background-color:rgba(0,28,32,0); 
}

#Content{
   /* display: none;*/
    transition: display 0.4s;
    height: 100vh;
}
          
#spinner{
    background-color: black;
    width: 100%;
    height: 100vh;
}

.check{
    font-family: 'Varela Round', sans-serif;
     font-size: 5rem; 
     font-weight: 600;
<}

.material-icons{
    height: 150px;
    width: 150px;
}
#sap{
    height: 150px;
    width: 200px;
}
.icon-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 23px; 
    color: #4b4b4b;
    margin-top: 25px;
    font-weight: 300;
}
   
h2.icon-title{
    color: #fff;
    font-family: 'Varela Round', sans-serif;
     font-size: 5rem; 
     font-weight: 600;
}
.icon-content{
    font-family: 'Roboto','sans serif';
    font-weight:300;
    font-size: 18px;
    padding-top:10px;
    padding-bottom: 10px;
    padding-right: 5%;
    padding-left: 5%;
    opacity: 0.8;
    line-height:120%;
    margin: 0;
}
.news-wrapper{
    background-image: url("img/playstation-pattern.png");
}
.news-section{
    background-color: rgba(0,0,128,0.5);
}

/* ------------------------

    NEWS CAROUSEL

-------------------------*/

.main-gallery {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);

}

.gallery-cell {
  width: 100%;
}

.testimonial {
  text-align: center;
  max-width: 850px;
  margin: 100px auto 80px auto;
  padding: 0 20px;
}

.testimonial-avatar {
  width: 100px;
  border-radius: 50%;
}

.testimonial-quote {
  display: block;
  font-size: 24px;
  font-weight: 300;
  color:#fff;
  line-height: 120%;    
  padding: 10px 0;
}

.testimonial-author {
  display: block;
  font-weight: 800;
  color: #fff;
  opacity: 0.8;    
}



h1.icon-title{
     font-family: 'Varela Round', sans-serif;
     font-size: 5rem; 
     font-weight: 600;
}

.client-pic{
    height: 80px;
    width: 160px;
}

p {
    line-height: 140%;
}
.page-footer{
    background-color: #001C20;
}
.smalltxt{
    font-size: 12px;
    opacity: 0.8;
}

footer{
    font-family: 'Varela Round','sans serif';
}
footer li {
    font-size: 18px;
}
h5.title{
    font-size: 25px;
    color:#fff;
}

/* Social Icons */

svg {
  display:inline-block;
  height:7vw; max-height:80px;
  width:auto;
  stroke:#fff;
  stroke-width:15;
  fill:none;
}
#tw {stroke-dasharray:  300 , 0, 3000;}
#st {stroke-dasharray:    0 , 0, 2300;}
#fa {stroke-dasharray:    0 , 0, 2900;}
#co {stroke-dasharray:  300 , 0, 3000;}
#px {stroke-dasharray: 3200 , 0, 3000;}

svg:hover #tw { animation: tw .7s; }
svg:hover #st { animation: st .7s; }
svg:hover #fa { animation: fa .7s; }
svg:hover #co { animation: co .7s; }
svg:hover #px { animation: px .7s; }

@keyframes tw { 10% {stroke-dasharray:  300, 500, 3000} 100% { stroke-dasharray:3300, 500, 3000;} }
@keyframes st { 10% {stroke-dasharray:    0, 500, 2300} 100% { stroke-dasharray:2300, 500, 2300;} }
@keyframes fa { 10% {stroke-dasharray:    0, 500, 2900} 100% { stroke-dasharray:2900, 500, 2900;} }
@keyframes co { 10% {stroke-dasharray:  300, 500, 3000} 100% { stroke-dasharray:2300, 500, 3000;} }
@keyframes px { 10% {stroke-dasharray: 3200, 500, 3000} 100% { stroke-dasharray:6200, 500, 3000;} }

.social-icons{
}