#topbar{  
    background-color:rgba(0,28,32,0.05); 
}
.parallax-container{
    margin-top: -77px;
}
.parallax-content{
    height: 100%;
    background-color: rgba(239,83,80,0.8);
}
.parallax-content p{
    color: #fff;
    font-weight: 200;
    font-family: 'Roboto', 'sans serif';
    font-size: 40px;
    padding: 0px 20px 0px 20px;
}
#undertext{
    font-size: 20px;
    
}
hr{
    width: 5%;
    border: none;
    background-color: #fff;
    height: 2px;
}
.overview h1{
    font-family: 'Varela Round','sans serif';
    font-size: 3rem;
}
.overview h2{
    font-family: 'Varela Round','sans serif';
    font-size: 2.5rem;
    color: #EF5350;
}
.overview p{
    opacity: 0.8;
    font-size:18px;
    padding: 0px 5%;
    line-height: 120%;
}

.services h2{
    font-family: 'Varela Round','sans serif';
    font-size: 2.5rem;
    color: #EF5350;
}
.services img{
    height: 150px;
    width: 150px;
    opacity: 0.8;
}
.services .subtitle{
    font-size: 1.8rem;
    font-family: 'Roboto','sans-serif';
    font-weight: 500;
    padding: 5px;
}

.expertise{
    background-color: #0089CD;
}
.expertise h2{
    font-family: 'Varela Round','sans serif';
    font-size: 2.5rem;
    color: #fff;
}
.expertise .collapsible-header{
    height: 100px;
}
.expertise .item{
    padding: 1.6rem;
}
.expertise .item-text{
    color: #fff;
    font-family: 'Roboto','sans-serif';
    font-size: 2rem;
    font-weight: 300;
}
.expertise a:hover{
    opacity: 0.5;
    transition: opacity 0.2s;
}

.enquiry h2{
    font-family: 'Varela Round','sans serif';
    font-size: 2.5rem;
    color: #EF5350;
}
.enquiry .btn{
    width: 80%;
    height: 50px;
    font-size: 2rem;
    padding-top: 10px;
}
.enquiry p{
    font-size: 2rem;
    opacity: 0.8;
    font-weight: 200;
}

.page-footer{
    background-color: #001C20;
}
.smalltxt{
    font-size: 12px;
    opacity: 0.8;
}

footer{
    font-family: 'Varela Round','sans serif';
}
footer li {
    font-size: 18px;
}
h5.title{
    font-size: 25px;
    color:#fff;
}

/* Social Icons */

svg {
  display:inline-block;
  height:5vw; max-height:120px;
  width:auto;
  stroke:#fff;
  stroke-width:15;
  fill:none;
  transition: fill ease 0.4s;
}

svg:hover{
    fill:#fff;
}
